<button type="submit" class="btn btn-outline-info @Float">
    @if (ItemId != 0 || ItemGuiId != Guid.Empty)
    {
        <span class="oi oi-check mr-2 "></span>@(btnText="Update")
        <span class="float-right ml-2 ">
            <Wave Center="true" Color="#17a2b8" Size="1.4rem" />
        </span>
    }
    else
    {
        <span class="oi oi-plus mr-2"></span>@(btnText="Add")
    }
</button>

@code {
    private string btnText { get; set; } = "";
    [Parameter]
    public int ItemId { get; set; }
    [Parameter]
    public Guid ItemGuiId { get; set; }
    [Parameter]
    public string Float { get; set; }
}
