@inherits LayoutComponentBase

    <AlertComponent />

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth app-nav">
            <AppNavMenu />
        </div>

        <div class="top-row px-4 auth app-nav-link">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

