@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.2rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-color: #f7f7f7;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        color: InfoText;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            /*color: #d7d7d7;*/
            color: InfoText;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(0,0,0,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(0,0,0,0.1);
                color: white;
            }
.navbar {
    padding: .4rem 1rem !important;
    background-color: #f7f7f7;
}
/*App Navbar Start*/
.app-nav {
    background-color: #f7f7f7;
}

    .app-nav .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .app-nav .navbar-brand {
        font-size: 1.6rem;
        color: InfoText;
        line-height: .9rem;
    }

    .app-nav .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .app-nav .nav-item {
        font-size: 1.1rem;
        padding: 0 6px;
        line-height: 1.4rem;
    }

        .app-nav .nav-item a {
            color: InfoText;
            display: flex;
        }

            .app-nav .nav-item a.active {
                background-color: rgba(0,0,0,0.25);
                color: white;
            }

            .app-nav .nav-item a:hover {
                background-color: rgba(0,0,0,0.1);
                color: white;
            }
/*App Navbar End*/

.content {
    padding-top: .2rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row .auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }

    .app-nav-link {
        display: none;
    }

    /*New*/
    .navblock {
        display: block;
        background-color: #f7f7f7;
    }

    .navcollapse{
        display:none;
    }

    
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        /* width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;*/
        display: none;
    }

    .app-nav-link {
        display: none;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: .4rem !important;
        padding-right: .2rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

}

/*---Alert Css --*/
.alert-service {
    position: absolute;
    top: 3rem;
    right: .1rem;
    z-index: 1;
}

    .alert-service span {
        display: block;
        width: auto;
        line-height: 1.6rem;
        text-align: right;
        padding: 0.4rem;
        margin: 0.4rem;
    }

.alert {
    color: #fff;
    border-style: solid;
    border-width: 0 1px 4px 1px;
    font-size: 1.4rem;
}

.alert-primary {
    background-color: #158cba;
    border-color: #127ba3;
}

.alert-info {
    background-color: #9bbef6;
    border-color: #1b5185;
}

.alert-success {
    background-color: #8aeb8c;
    border-color: #4a9f10;
}

.alert-warning {
    background-color: #f2de3d;
    border-color: #aea106;
}

.alert-error {
    background-color: #ef7979;
    border-color: #b90d0d;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/*---Alert Css end--*/

/*--- Index table --*/
.table td, .table th {
    padding: .10em;
    vertical-align: middle;
}

.card-body {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0;
}

.card-title {
    margin-bottom: .5rem;
}

.card-header {
    margin-left: .3rem;
}

.bg-lightinfo {
    background-color: #69aeae;
}
/*--- Recieve page css end --*/
